/**
 * Some variables to keep things ordered
 */
@color-text-light: #ccc;
@color-blue: #2196F3;


.full-height {
	height: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);

/**
 * Basic styles
 */
body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 62.5%;
}
.tb {
	display: table;
	margin: 0 auto;
}
.tbc {
	display: table-cell;
}
.vam {
	vertical-align: middle;
}

/**
 * Search styles
 */
#search-container {
	
	transition: margin-left 0.7s ease-in-out;

	form {

		label {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.2rem;
		}
		.select2-container.form-control {
			padding: 0;
			border: 0;
			box-shadow: none;
			height: auto;
		}
		.form-control,
		.btn {
			border-color: @color-text-light;
		}
		.input-group-btn + .form-control {
			border-left: 0;
			text-align: center;
		}

	}	

}

/**
 * Select 2 styles
 */
.select2-drop {

	.select2-search {
		padding: 0 10px;

		input {
			border: 0;
			border-bottom: 1px solid @color-text-light;
			background-image: none;
		}
	}
	.select2-results {
		&::-webkit-scrollbar-track
		{
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
			background-color: #fff;
		}

		&::-webkit-scrollbar
		{
			width: 6px;
			background-color: #fff;
		}

		&::-webkit-scrollbar-thumb
		{
			background-color: #333;
		}
	}


}
.select2-container {
	.select2-choice {
		height: 44px;
	}
	&,
	&.select2-dropdown-open.select2-drop-above,
	&.select2-dropdown-open.select2-drop-above {
		.select2-choice {
			background-image: none;
			background-color: #fff;
			border: 1px solid @color-text-light;
			border-radius: 2px;
			
			.select2-arrow {
				background-image: none;
				background-color: transparent;
				border-color: @color-text-light;
			}
		}
	}
}
.select2-drop,
.select2-container {
	.aspect {

		display: table;
		padding: 5px 0;

		img {
			float: none;
			display: table-cell;
			vertical-align: middle;
			margin: 0 !important;
		}
		> div {
			display: inline-block;
			display: table-cell;
			vertical-align: middle;
			padding-left: 5px;
		}
		> div:first-of-type {
			font-weight: bold;
		}
		.desc {
			font-size: 85%;
			font-style: italic;
		}

	}	
}


/**
 * Search Results styles
 */
#search-results-wrapper {
	display: none;
	overflow-y: auto;
	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
		background-color: #fff;
	}

	&::-webkit-scrollbar
	{
		width: 6px;
		background-color: #fff;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: #333;
	}	
}
.search-result {
	margin-top: -20px;
	opacity: 0;

	width: 100%;
	padding: 15px 15px 10px 15px;
	position: relative;
	border-bottom: 1px solid #ccc;

	.close-result {
		position: absolute;
		font-size: 1.2rem;
		display: block;
		right: 15px;
		color: #000;
		top: 10px;
	}
	
	h2 {
		margin: 0;
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: bold;

		span {
			font-size: 1.2rem;
			&.from {
				margin-right: 3px;
			}
			&.to {
				margin-left: 3px;
			}
		}
	}

	ul.aspect-list {
		padding: 10px 35px;
		text-align: center;
		list-style: none;
		margin: 0;

		li.aspect {
			display: inline-block;
			padding: 0 12px 10px 12px;
			text-align: center;

			img {
				margin: 0;
				width: 32px;
				float: none;
			}
			.aspect-name {
				font-size: 1.5rem;
				font-weight: 300;
				font-style: normal;
				text-align: center;
				text-transform: capitalize;
			}
		}

	}

	.search-info {
		width: 100%;
		font-size: 1rem;
		position: relative;
		text-transform: uppercase;
		font-weight: 600;

		.total-steps {
			font-size: 1.2rem;
			font-weight: 400;
		}

		p,
		ul,
		ul li,
		ul li img {
			display: inline-block;
		}

		ul.used-aspects {
			padding: 0;
			margin: 0;
			margin-left: 15px;

			li:first-child {
				padding-right: 3px;
			}

			li.used-aspect {
				padding-right: 10px;
				font-size: 1.2em;

				img {
					width: 20px;
					padding-right: 3px;
					vertical-align: middle;
				}

				span {
					vertical-align: middle;
				}
				&:after {
				  content: "|";
				  margin-left: 5px;
				  position: relative;
				  color: #ccc;				
				}
				&:last-child:after {
					content: none;
				}
			}
		}


	}
}
#close_results {
	margin-left: 10px;
	display: none;
}

